WsBankClient/src/conf/xml-resources/web-service-references/myWebService/wsdl/localhost_8080/WsBank/myWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tsdw.dmi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tsdw.dmi/" name="myWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://tsdw.dmi/" schemaLocation="http://localhost:8080/WsBank/myWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="operations">
<part name="parameters" element="tns:operations"/>
</message>
<message name="operationsResponse">
<part name="parameters" element="tns:operationsResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="statusAccount">
<part name="parameters" element="tns:statusAccount"/>
</message>
<message name="statusAccountResponse">
<part name="parameters" element="tns:statusAccountResponse"/>
</message>
<message name="getBalance">
<part name="parameters" element="tns:getBalance"/>
</message>
<message name="getBalanceResponse">
<part name="parameters" element="tns:getBalanceResponse"/>
</message>
<portType name="myWebService">
<operation name="operations">
<input wsam:Action="http://tsdw.dmi/myWebService/operationsRequest" message="tns:operations"/>
<output wsam:Action="http://tsdw.dmi/myWebService/operationsResponse" message="tns:operationsResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://tsdw.dmi/myWebService/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://tsdw.dmi/myWebService/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="statusAccount">
<input wsam:Action="http://tsdw.dmi/myWebService/statusAccountRequest" message="tns:statusAccount"/>
<output wsam:Action="http://tsdw.dmi/myWebService/statusAccountResponse" message="tns:statusAccountResponse"/>
</operation>
<operation name="getBalance">
<input wsam:Action="http://tsdw.dmi/myWebService/getBalanceRequest" message="tns:getBalance"/>
<output wsam:Action="http://tsdw.dmi/myWebService/getBalanceResponse" message="tns:getBalanceResponse"/>
</operation>
</portType>
<binding name="myWebServicePortBinding" type="tns:myWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="statusAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="myWebService">
<port name="myWebServicePort" binding="tns:myWebServicePortBinding">
<soap:address location="http://localhost:8080/WsBank/myWebService"/>
</port>
</service>
</definitions>