ClientJavaApp/xml-resources/web-service-references/WsArit/wsdl/localhost_8080/Progetto1/WsArit.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tsdw.dmi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tsdw.dmi/" name="WsArit">
<types>
<xsd:schema>
<xsd:import namespace="http://tsdw.dmi/" schemaLocation="http://localhost:8080/Progetto1/WsArit?xsd=1"/>
</xsd:schema>
</types>
<message name="somma">
<part name="parameters" element="tns:somma"/>
</message>
<message name="sommaResponse">
<part name="parameters" element="tns:sommaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="subj">
<part name="parameters" element="tns:subj"/>
</message>
<message name="subjResponse">
<part name="parameters" element="tns:subjResponse"/>
</message>
<message name="showOddEven">
<part name="parameters" element="tns:showOddEven"/>
</message>
<message name="showOddEvenResponse">
<part name="parameters" element="tns:showOddEvenResponse"/>
</message>
<portType name="WsArit">
<operation name="somma">
<input wsam:Action="http://tsdw.dmi/WsArit/sommaRequest" message="tns:somma"/>
<output wsam:Action="http://tsdw.dmi/WsArit/sommaResponse" message="tns:sommaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://tsdw.dmi/WsArit/helloRequest" message="tns:hello"/>
<output wsam:Action="http://tsdw.dmi/WsArit/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="subj">
<input wsam:Action="http://tsdw.dmi/WsArit/subjRequest" message="tns:subj"/>
<output wsam:Action="http://tsdw.dmi/WsArit/subjResponse" message="tns:subjResponse"/>
</operation>
<operation name="showOddEven">
<input wsam:Action="http://tsdw.dmi/WsArit/showOddEvenRequest" message="tns:showOddEven"/>
<output wsam:Action="http://tsdw.dmi/WsArit/showOddEvenResponse" message="tns:showOddEvenResponse"/>
</operation>
</portType>
<binding name="WsAritPortBinding" type="tns:WsArit">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="somma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showOddEven">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsArit">
<port name="WsAritPort" binding="tns:WsAritPortBinding">
<soap:address location="http://localhost:8080/Progetto1/WsArit"/>
</port>
</service>
</definitions>