ClientJavaApp/xml-resources/web-service-references/WsArit/wsdl/localhost_8080/Progetto1/WsArit.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tsdw.dmi/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tsdw.dmi/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="showOddEven" type="tns:showOddEven"/>

<xs:element name="showOddEvenResponse" type="tns:showOddEvenResponse"/>

<xs:element name="somma" type="tns:somma"/>

<xs:element name="sommaResponse" type="tns:sommaResponse"/>

<xs:element name="subj" type="tns:subj"/>

<xs:element name="subjResponse" type="tns:subjResponse"/>

<xs:complexType name="somma">
<xs:sequence>
<xs:element name="op1" type="xs:int"/>
<xs:element name="op2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sommaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subj">
<xs:sequence>
<xs:element name="op1" type="xs:int"/>
<xs:element name="op2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subjResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showOddEven">
<xs:sequence>
<xs:element name="limit" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showOddEvenResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>